.NewsMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.NewsEntry {
    width: 80vw;
    margin: 10px 0px 10px 0px;
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 4vw;
    border-radius: 4px;
}

.NewsEntry h1{
    margin-top: -2px;
    font-size: 4vw;
}


@media screen and (min-width: 800px){
    .NewsMain {
        flex-direction: row;
    }

    .NewsEntry {
        width: 25vw;
        margin: 30px 0px 30px 0px;
    }

    .NewsEntry h1{
        margin-top: -10px;
        font-size: 1vw;
    }

}