.ProjectsMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(48, 47, 47);
}

.ProjectsEntry {
    width: 80vw;
    margin: 10px 0px 10px 0px;
    background-color: black;
    color: white;
    padding: 4vw;
    border-radius: 4px;
}

.ProjectsEntry h1{
    margin-top: -2px;
    font-size: 6vw;
}

.ProjectsPhotos {
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 60%;
    opacity: 70%;
}

#ProjectsPhotosClose {
    width: 5vh;
    opacity: 100%;
    padding: 1vw;
    right: 10vw;
}

.ProjectsPhotosHidden {
    display: none;
}


@media screen and (min-width: 800px){
    .ProjectsMain {
        flex-direction: row;
    }

    .ProjectsEntry {
        box-sizing: border-box;
        width: 25vw;
        height: 25vw;
        margin: 30px 0px 30px 0px;
    }

    .ProjectsEntry h1{
        margin-top: -2vw;
        font-size: 2vw;
    }

}