.HomePageMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.HomePageMain img {
    height: 90vh;
    object-fit: cover;
    width: 100%;
    margin: 0px 0px 3vw 0px;
}

.HomePageStories {
    display: flex;
    flex-direction: column;
}

.HomePageStory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HomePageStory span {
    width: 90vw;
    color: white;
}

.HomePageStory p {
    text-align: left;
}


@media screen and (min-width: 800px){

    .HomePageMain {
        align-items: center;
        background-color: black;
    }

    .HomePageMain img {
        background-color: black;
        width: 70vw;
    }

    .HomePageStory {
        width: 70vw;
        display: flex;
        flex-direction: column;
    }

    .HomePageStory img {
        width: 100%;
    }

    .HomePageStory span {
        width: 80%;
        padding: 30px;
        color: white;
    }
}