.HomePageMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.HomePageMain img {
    height: 90vh;
    object-fit: cover;
    width: 100%;
}

.HomePageStories {
    display: flex;
    flex-direction: column;
    background-color: rgb(5, 5, 61);
}

.HomePageStory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HomePageStory span {
    width: 80vw;
    color: white;
}

.HomePageStory p {
    text-align: left;
}


@media screen and (min-width: 800px){
    .HomePageMain img {
        background-color: black;
        width: 70vw;
    }

    .HomePageStory {
        display: flex;
        flex-direction: row;
    }

    .HomePageStory span {
        width: 40vw;
        padding: 30px;
        color: white;
    }
}