.AboutMain {
    color: rgb(71, 71, 71);
    display: flex;
    justify-content: center;
    width: 100%;
}

#AboutIntro {
    background-image: url('./../../../Assets/lamp-image-dark.jpg');
    height: 75vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}

#whatwedo {
    font-size: 70px;
    color: rgb(85, 85, 85);
}

.InnerText {
    width: 70vw;
    text-align: left;
}

.AboutNavBar h5 {
    margin: 13px;
}

img {
    width: 100%;
}
 

.AboutBody{
    color: rgb(207, 206, 206);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutClick {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AboutMiniSections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AboutMiniSections p{
    display: block;
    width: 70vw;
    text-align: left;
    color: rgb(53, 53, 53);
}

.AboutMiniSections h1 {
    background-color: rgb(65, 65, 65);
    color: white;
    width: 80vw;
}

.AboutHidden h1 {
    background-color: rgb(65, 65, 65);
    color: white;
    width: 80vw;
}

.AboutHidden p{
    display: none;
}

