.WhoMain {
    display: flex;
    flex-direction: column;
}

.WhoInner h1 {
    font-size: 50px;
    text-indent: 0px;
}

.WhoInner {
    text-align: left;
    padding: 10vw;
}

@media screen and (min-width: 800px){
    .WhoMain {
        display: flex;
        flex-direction: row;
    }

    .WhoInner {
        padding: 5vw;
    }

}