.WhoMain {
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 47, 47);
    color: white;
}

.WhoInner {
    text-align: left;
    padding: 10vw;
}

.WhoInner h1 {
    font-size: 50px;
    text-indent: 0px;
    margin-top: -1vw;
}

.WhoInner h4 {
    text-indent: 0px;
    margin-top: -2vw;
}

.WhoInner img {
    border-radius: 4px;
}

@media screen and (min-width: 925px){
    .WhoMain {
        display: flex;
    }

    .WhoInner {
        padding: 5vw 20vw 5vw 20vw;
    }

    .WhoInner img {
        width: 20vw;
        height: 20vw;
    }

    .WhoRow {
        display: flex;
    }

    .WhoRow p {
        margin-left: 4vw;
    }

    #ForrestG {
        margin-top: -5vw;
    }

}