.ContactMain {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(82, 83, 83);
    color: white;
    text-align: left;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: white;
}

.ContactInner {
    margin: 10px 0px 10px 20px;
}

@media screen and (min-width: 800px){
    .ContactMain {
        flex-direction: row;
        padding: 40px;
        height: 50vh;
        font-size: 15px;
    }

    .ContactInner{
        margin-left: 80px;
    }
}