.NavBarMain {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    background-color: black;
    color: white;
}

.NavBarLogo {
    display: flex;
    align-items: center;
}

#logo {
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    width: 130px;
}

#lettering {
    display: none;
}

#letteringmobile {
    margin-top: 5px;
    width: 30vw;
}

.NavBarLinks {
    display: none;
}

.NavBarHamburger img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.LinkLink{
    text-decoration: none;
    color: white;
}

.NavBarDropDownHidden {
    display: none;
}

ul {
    list-style-type: none;
}

li {
    margin: 8px 50px 15px 0px;
}

.NavBarDropDownVisible {
    font-size: 20px;
    opacity: 0.8;
    right: 0px;
    position: absolute;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

@media screen and (min-width: 800px){
    .NavBarLinks {
        display: flex;
        width: 25vw;
        justify-content: space-around;
        align-items: center;
        margin-right: 100px;
    }

    #logo {
        margin-left: 30px;
        height: 60px;
        width: 160px;
    }

    #lettering {
        display: block;
        margin-top: 20px;
        height: 70px;
        width: auto;
    }
    
    #letteringmobile {
        display: none;
    }

    .NavBarHamburger {
        display: none;
    }

    .NavBarDropDownVisible{
        display: none;
    }
}