.NavBarMain {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60px;
    background-color: black;
    color: white;
}

.NavBarLogo {
    margin-left: 10px;
}

.NavBarLinks {
    display: none;
}

.NavBarHamburger img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

@media screen and (min-width: 800px){
    .NavBarLinks {
        display: flex;
        width: 25vw;
        justify-content: space-around;
        align-items: center;
    }

    .LinkLink{
        text-decoration: none;
        color: white;
    }
    
    .NavBarHamburger {
        display: none;
    }
}