.NewsMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.NewsEntry {
    width: 100vw;
    margin-bottom: 30px;
}

.NewsEntryInner {
    display: flex;
    flex-direction: column;
}

.NewsEntryInner img {
    width: 100vw;
}

.NewsEntryInner p {
    text-align: left;
    padding: 30px;
}    


@media screen and (min-width: 800px){
    .NewsEntryInner img {
        width: 40vw;
    }

    .NewsEntryInner {
        display: flex;
        flex-direction: row;
        margin: 40px;
    }

}