.App {
  text-align: center;
  /* width: 100vw; */
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  text-indent: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
